/* Targets elements with the class of inline-block */
.inline-block {
    display: inline-block;
    vertical-align: top;
}

/* Targets the div with the class of logo */
.logo {
    width: 23%;
    padding: 1%;
}

/* Targets the nav element */
nav {
    width: 73%;
    padding: 1%;
}

/* Centers the unordered list */
ul {
    width: 50%;
    margin-left: auto;
}

/* Centers the text inside list items */
li {
    padding: 0 10px;
}

/* Targets the section with the class of heroImg */
.heroImg {
    height: 600px;
    padding: 25px;
}

/* Targets the div with the class of content */
.content {
    width: 500px;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

/* Center the image inside the content div */
.content img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
}

/* Targets the footer element */
footer {
    background-color: #373738;
    padding: 10px;
}

/* Targets the ul element inside the footer */
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

